body {
    background: #6eb37f;
    /* Define a cor de fundo do corpo da página como um verde (#6eb37f). */
}

.wrapper {
    width: 400px;
    /* Define a largura do elemento 'wrapper' como 400px. */

    position: absolute;
    /* Posiciona o 'wrapper' de forma absoluta, permitindo ajustá-lo em relação à página. */

    top: 50%;
    left: 50%;
    /* Centraliza o 'wrapper' verticalmente e horizontalmente em relação à janela da página. */

    transform: translate(-50%, -50%);
    /* Ajusta a posição para centralizar o 'wrapper' com precisão, deslocando-o pela metade de sua própria largura e altura. */

    background: #262626;
    /* Define o fundo do 'wrapper' com uma cor cinza escura (#262626). */

    padding: 50px;
    /* Adiciona um preenchimento interno de 50px em todos os lados do 'wrapper'. */

    color: #fff;
    /* Define a cor do texto dentro do 'wrapper' como branco (#fff). */

    text-align: center;
    /* Centraliza todo o texto dentro do 'wrapper'. */
}

.wrapper h2 {
    text-transform: uppercase;
    /* Transforma o texto do título `<h2>` para letras maiúsculas. */

    font-family: poppins;
    /* Define a fonte do texto como "Poppins" (certifique-se de que essa fonte esteja importada na página). */

    margin-bottom: 10%;
    /* Adiciona uma margem inferior de 10% da altura do elemento para espaçamento abaixo do título `<h2>`. */
}
input[type="text"] {
    height: 40px;
    /* Define a altura do campo de texto como 40px. */
}

input[type="text"] {
    font-size: 24px;
    /* Define o tamanho da fonte do texto inserido no campo de texto como 24px. */
}

button {
    background: #EE4477;
    /* Define a cor de fundo do botão como rosa (#EE4477). */

    border: none;
    /* Remove qualquer borda do botão. */

    color: #fff;
    /* Define a cor do texto do botão como branco (#fff). */

    display: inline-block;
    /* Faz o botão ser exibido como um bloco, permitindo que ele fique em linha com outros elementos, mantendo suas propriedades de bloco. */

    padding: 10px 25px;
    /* Define o preenchimento interno do botão como 10px na vertical e 25px na horizontal, criando um espaçamento interno. */

    font-size: 18px;
    /* Define o tamanho da fonte do texto dentro do botão como 18px. */

    text-transform: uppercase;
    /* Transforma o texto dentro do botão para letras maiúsculas. */

    font-family: poppins;
    /* Define a fonte do texto do botão como "Poppins" (certifique-se de que a fonte esteja importada na página). */

    letter-spacing: 2px;
    /* Adiciona um espaçamento de 2px entre as letras do texto dentro do botão. */

    font-weight: bold;
    /* Define o peso da fonte como "bold" (negrito), deixando o texto mais grosso. */
}

input[type="radio"] {
    width: 20px;
    /* Define a largura dos botões de rádio como 20px. */

    height: 20px;
    /* Define a altura dos botões de rádio como 20px. */
}

b {
    font-size: 30px;
    /* Define o tamanho da fonte para o elemento <b> como 30px, destacando textos em negrito. */
}